@using Pokefeet2.Ressources
@attribute [Route(Constants.Url.Home)]
@inject IJSRuntime Js
@inject NavigationManager Navigation

<MudGrid>

	<MudItem xs="12">
		<div class="flex-grow-1 d-flex flex-column justify-center align-center mt-16">
			<MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Today" OnClick="StartDaily" Class="mb-4 pkmnBody card btn">
				@Translation.Daily
			</MudButton>
		</div>
	</MudItem>

	<MudItem xs="12">
		<div class="flex-grow-1 d-flex flex-column justify-center align-center">
			<MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Repeat" OnClick="StartInfinite" Class="mb-4 pkmnBody card btn">
				@Translation.Infinite
			</MudButton>
		</div>
	</MudItem>

	<MudItem xs="12">
		<div class="d-flex justify-center align-center">
			<MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Info" OnClick="OpenDialog" Class="pkmnBody card btn">
				@Translation.About
			</MudButton>
		</div>
	</MudItem>

</MudGrid>

<MudDialog @bind-IsVisible="_visible" Options="_dialogOptions">
	<TitleContent>
	</TitleContent>
	<DialogContent>

		<MudText Typo="Typo.h5" Class="d-flex justify-center mb-2 pkmnH1">
			@Translation.About.ToUpper()
		</MudText>

		<MudText Typo="Typo.body1" Class="mb-2 pkmnBody">
			@(new MarkupString(Translation.dialog_Welcome))
		</MudText>

		<MudDivider />

		<MudText Typo="Typo.h5" Class="d-flex justify-center mt-2 mb-2 pkmnH1">
			@Translation.dialog_howtoplay.ToUpper()
		</MudText>

		<MudText Typo="Typo.body1" Class="mb-2 pkmnBody">
			@(new MarkupString(string.Format(Translation.dialog_howtoplay_desc, Constants.Game.MaxHp)))
		</MudText>

		<MudDivider />

		<MudText Typo="Typo.h5" Class="d-flex justify-center mt-2 mb-2 pkmnH1">
			@Translation.dialog_guessthemall.ToUpper()
		</MudText>

		<MudText Typo="Typo.body1" Class="mb-2 pkmnBody">
			@Translation.dialog_guessthemall_desc
		</MudText>

		<MudDivider />

		<MudText Typo="Typo.h5" Class="d-flex justify-center mt-2 mb-2 pkmnH1">
			@Translation.dialog_credit.ToUpper()
		</MudText>

		<MudText Typo="Typo.body1" Class="mb-2 pkmnBody">
			@Constants.AppName @Translation.Createdby 
			<MudLink Href="https://github.com/Lachetquentin" Class="pkmnBody">
				<MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
				Quentin LACHET.
			</MudLink>
		</MudText>

		<MudText Typo="Typo.body1" Class="pkmnBody">
			@Constants.AppName @Translation.HeavilyInspiredBy
			<MudLink Href="https://pokedle.gg/" Class="pkmnBody">pokedle.gg</MudLink>,
			<MudLink Href="https://loldle.net/" Class="pkmnBody">loldle.net</MudLink>,
			<MudLink Href="https://www.nytimes.com/games/wordle/index.html" Class="pkmnBody">wordle</MudLink>
		</MudText>

		<MudText Typo="Typo.body1" Class="pkmnBody">@Translation.SourceCode <MudLink Href="https://github.com/Lachetquentin/pokefeet" Class="pkmnBody">@Translation.ClickHere</MudLink></MudText>

		<MudText Typo="Typo.body1" Class="pkmnBody">
			<span class="pkmnBody" style="font-weight: 700">@Translation.ThanksTo</span>
			<br>
			<MudText Typo="Typo.body1" Class="pkmnBody">- vinztt: <MudLink Href="https://codepen.io/vinztt/pen/XjEyvZ" Class="pkmnBody">@Translation.Pkball_Loading</MudLink></MudText>
			<br>
		</MudText>

	</DialogContent>
	<DialogActions>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Close" Class="px-10 pkmnBody">@Translation.Close</MudButton>
	</DialogActions>
</MudDialog>